
//block__title
.block{
    text-align: center;

    &__title{
       margin-bottom: 20px;
       text-transform: uppercase;

    }

    &__image{
     margin-left: 10%;
    }

    &__header{
       
    }

}