a {
    color: #01C8E5;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #009EA1;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn {
    margin: 0;
    vertical-align: middle;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.loginSignUpBtn {
    width:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
}


.btn-success {
    color: #fff;
    background-color: #3AAE68;
}

.btn-success:hover {
    color: #3AAE68;
    background-color: #fff;
    outline: #3AAE68 solid 3px;
}

.btn-menu {
    color: #fff !important;
    background-color: transparent;
    font-size: 20px;
    position: fixed;
    z-index: 500;
}

.btn-close {
    margin-top: 12px;
    margin-left: 30px;
    background-color: whitesmoke;
    outline-color: whitesmoke;
    color: #01c8e5;
    &:hover {
        background: none !important;
        color:$color-blue-aqua;
    }
}

.btn-plus {
    color: #fff;
    background-color: #3AAE68;
    width: 70px;
    height: 50px;
}

.btn-minus {
    color: #fff;
    background-color: red;
    width: 70px;
    height: 50px;
}

.btn-login {
    color: #fff;
    background-color: #01c8e5;
    outline: #01c8e5 solid 3px;
    transition: all 0.3;
}

.btn-login:hover {
    color: #01c8e5;
    background-color: #fff;
    outline: #01c8e5 solid 3px;
}